<div id="<%= dom_id recebimento %>">
  <p>
    <strong>Data recebimento:</strong>
    <%= recebimento.data_recebimento %>
  </p>

  <p>
    <strong>Recurso:</strong>
    <%= recebimento.recurso_id %>
  </p>

  <p>
    <strong>Valor recebido:</strong>
    <%= recebimento.valor_recebido %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= recebimento.obs %>
  </p>

</div>
