<p style="color: green"><%= notice %></p>

<%= render @recebimento %>

<div>
  <%= link_to "Editar recebimento", edit_recebimento_path(@recebimento) %> |
  <%= link_to "Voltar para recebimentos", recebimentos_path %>

  <%= button_to "Destroy this recebimento", @recebimento, method: :delete %>
</div>
