<div id="<%= dom_id paciente %>">

  <% if paciente.inativo? %>
  <h1><span class="badge bg-danger">Paciente Inativo</span></h1>
  <% end %>

  <div class="row g-2">
    <div class="col-md-5">
      <%= show_field paciente.nome, 'Nome Paciente' %>
    </div>

    <div class="col-md-3">
      <%= show_field paciente.nome_chamado, 'Nome Chamado' %>
    </div>

    <% unless paciente.cpf.blank?%>
    <div class="col-md-3">
      <%= show_field paciente.cpf, 'CPF' %>
    </div>
    <% end %>

    <% unless paciente.data_nascimento.blank?%>
    <div class="col-md-2">
      <div class="form-floating">
        <%= show_field localize(paciente.data_nascimento, format: :default), 'Nascimento' %>
      </div>
    </div>
    <% end %>
    <% unless paciente.sexo.blank?%>
    <div class="col-md-2">
      <div class="form-floating">
       <%= show_field  paciente.sexo, 'Sexo' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.fones.blank?%>
    <div class="col-md-3">
      <div class="form-floating">
       <%= show_field  paciente.fones, 'Fones' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.grau_instrucao.blank?%>
    <div class="col-md-3">
      <div class="form-floating">
        <%= show_field  paciente.grau_instrucao, 'Grau instrução' %>
      </div>
    </div>
 
    <% end %>
    <% unless paciente.convenio_id.blank?%>
    <div class="col-md-2">
      <div class="form-floating">
        <%= show_field  paciente.convenio.nome, 'Convênio' %>
      </div>
    </div>
 
    <% end %>
    <% unless paciente.valor_atendimento.blank?%>
    <div class="col-md-2">
      <div class="form-floating">
        <%= show_field  paciente.valor_atendimento.to_s, 'Valor' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.codigo_beneficiario.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.codigo_beneficiario, 'Código Beneficiario' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.endereco.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.endereco, 'Endereço' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.bairro.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.bairro, 'Bairro' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.cidade.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.cidade, 'Cidade' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.nome_mae.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.nome_mae, 'Nome mãe' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.nome_pai.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.nome_pai, 'Nome pai' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.filhos.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.filhos, 'Filhos' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.estado_civil.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.estado_civil, 'Estado Civil' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.nome_conjuge.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.nome_conjuge, 'Nome conjuge' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.local_trabalho.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.local_trabalho, 'Local trabalho' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.religiao.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field  paciente.religiao, 'Religião' %>
      </div>
    </div>

    <% end %>
    <% unless paciente.profissao.blank?%>
    <div class="col-md-4">
      <div class="form-floating">
        <%= show_field paciente.profissao, 'Profissão' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<p>
<p>
O paciente fez <b><%= paciente.agendas.size %></b> atendimentos, totalizando <b>R$<%= paciente.agendas.sum(:valor_atendimento) %></b>, falta receber <b>R$ <%= paciente.agendas.sum('valor_atendimento - coalesce(valor_recebido,0)') %></b>. 
<div class="row g-2">
<% paciente.agendas.order(:data_hora).each do |agenda| %>
  <div class="col-md-3">
    <div class="card mb-1 shadow">
      <div class="card-body">
        <div class="card-title">
          <b><%= agenda.data_hora.strftime('%d/%m/%y') %></b>
          <small class="bi-alarm"><%= " #{agenda.data_hora.hour}:#{agenda.data_hora.min}" %></small> 
          <%= "#{agenda.data_hora.strftime('%a')}" %>
          <%= link_to edit_agenda_path(agenda) , data: { turbo: false} do %>
            <i class="fa fa-share"></i>
          <% end %>
        </div>
        <div class="card-text">
          <span class="badge bg-secondary">R$ <%= agenda.valor_atendimento %></span>
          <br /> 
          <span class="badge bg-success"><%= "R$ #{agenda.valor_recebido} em #{agenda.recurso.nome}" unless agenda.recurso_id.nil? %></span></td>
          <% if agenda.agendado %>
            <span class="badge bg-danger">Agendado</span>
            <br /> 
          <% end %>
          <% if agenda.cancelado %>
            <span class="badge bg-danger">Cancelado</span>
            <br /> 
          <% end %>
        
          <% unless agenda.obs.nil? %>
            <small><%= agenda.obs%></small>
            <br />
          <% end %>
          <% unless agenda.guia.nil? %>
            <small>Guia: <%= agenda.guia.tipo_numero %></small>
            <% unless agenda.guia.data_fatura.nil? %>
              <small class="badge bg-success"><%= agenda.guia.data_fatura.to_date.strftime("%m/%Y")  %></small>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<p>
O paciente possui <b><%= paciente.guias.size %></b> guias.</b> 
<div class="row g-2">
<% paciente.guias.order(:id).each do |guia| %>
  <div class="col-md-3">
    <div class="card mb-1 shadow">
      <div class="card-body">
        <div class="card-title">
          <b><%= guia.tipo_numero %></b>
          <%= link_to edit_guia_path(guia) , data: { turbo: false} do %>
            <i class="fa fa-share"></i>
          <% end %>
        </div>
        <div class="card-text">
          <span class="badge bg-secondary">Sol/Exec <%= guia.solicitados %> - <%= guia.executados %> </span>
          <br /> 
          <% unless guia.data_fatura.nil? %>
            <small class="badge bg-success"><%= guia.data_fatura.to_date.strftime("%m/%Y")  %></small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<p>