<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>

<%= form_with url: pacientes_path, 
              method: :get, 
              data: { turbo_frame: 'paciente_body' } do |f| %>
  <div class="row">
    <div class="col-md-4 col-12">
      <%= link_to "Novo Paciente", new_paciente_path, class: "btn btn-success btn-sm" %>
      <small>Existem <%= @pacientes.size %> cadastrados.</small>
    </div>
    
    <div class="col-md-6 col-12">
      <div class="input-group mb-3">
        <span class="input-group-text fa fa-search"></span>
        <%= f.text_field :nome, value: params[:nome], class: "form-control form-control-sm ", placeholder: "Inicie por % se quiser pesquisa em qualquer parte do nome" %>
      </div>
    </div>

    <div class="col-md-2 col-12">
      <div class="form-check">
        <%= f.check_box :inativos, class: "form-check-input" %>
        <%= f.label :inativos, 'Inativos', class: "form-check-label" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'pacientes_lista', pacientes: @pacientes %>
