<div id="<%= dom_id clinica %>">
  <p>
    <strong>Nome:</strong>
    <%= clinica.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= clinica.endereco %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= clinica.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= clinica.cidade %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= clinica.uf %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= clinica.cnpj %>
  </p>

  <p>
    <strong>Fone:</strong>
    <%= clinica.fone %>
  </p>

</div>
