<p style="color: green"><%= notice %></p>

<%= render @clinica %>

<div>
  <%= link_to "Edit this clinica", edit_clinica_path(@clinica) %> |
  <%= link_to "Back to clinicas", clinicas_path %>

  <%= button_to "Destroy this clinica", @clinica, method: :delete %>
</div>
