<p style="color: green"><%= notice %></p>

<%= render @evolucao_tipo %>

<div>
  <%= link_to "Edit this evolucao tipo", edit_evolucao_tipo_path(@evolucao_tipo) %> |
  <%= link_to "Back to evolucao tipos", evolucao_tipos_path %>

  <%= button_to "Destroy this evolucao tipo", @evolucao_tipo, method: :delete %>
</div>
