<p style="color: green"><%= notice %></p>

<%= render @evolucao_tipo %>

<div class="form-actions">
  <div class="row row-cols-auto">
    <div class="col">
      <%= link_to "Editar", edit_evolucao_tipo_path(@evolucao_tipo), class: "btn btn-primary" %> 
    </div>
    <div class="col">
      <%= button_to "Excluir", @evoluvao_tipo, form: { data: { turbo_confirm: "Você tem certeza que deseja excluir?" } }, method: :delete,  class: "btn btn-danger"%>
    </div>
    <div class="col">
      <%= link_to "Voltar", evolucao_tipos_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
