<div id="<%= dom_id agenda %>">
  <p>
    <strong>Data hora:</strong>
    <%= localize(agenda.data_hora.to_date, format: :default) %>
  </p>

  <% if agenda.agendado %>
    <p>
      <div class="bg-primary p-2 text-white">Essa agenda não está confirmada</div>
    </p>
  <% end %>
  <% if agenda.cancelado %>
    <p>
      <div class="bg-danger p-10 text-white">Atendimento cancelado!</div>
    </p>
  <% end %>

  <p>
    <strong>Paciente:</strong>
    <%= link_to agenda.paciente.nome, agenda.paciente %>
  </p>

  <p>
    <strong>Convênio:</strong>
    <%= agenda.convenio.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= agenda.valor_atendimento %>
  </p>

  <% unless agenda.valor_recebido.nil? %>
  <p>
    <strong>Recebido:</strong>
    <%= "#{agenda.valor_recebido} em #{agenda.recurso.nome}" %>
  </p>
  <% end %>

 <% unless agenda.obs.nil? %>
 <p>
    <strong>OBS:</strong>
    <%= agenda.obs %>
  </p>
  <% end %>

<% unless agenda.guia.nil? %>
 <p>
    <strong>Guia: </strong>
    <%= "#{agenda.guia.tipo_numero} Enviada em: #{agenda.guia.data_fatura}" %>
    <br/>
    <strong>Solicitadas/executadas:</strong>
    <%= "#{agenda.guia.solicitados} / #{agenda.guia.executados}" %>
  </p>
  <% end %>

</div>
