<p style="color: green"><%= notice %></p>

<h1>Agendas</h1>

<div class="row">
  <div class="col">
    <%= link_to "Novo", new_agenda_path, class: "btn btn-success" %>
  </div>
  <div class="col">
      <%= form_with url: agendas_path, method: :get do |f| %>
      <%= f.text_field :cmpt, value: params[:cmpt], class: "form-control form-control-sm", placeholder: "Competência aaaamm, informe 0 para listar todas" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class=col-md-3>
    <%= "Atendidos Sim(#{@total_atendidos})/Não(#{@total_nao_atendidos})" %>
  </div>
  <div class=col-md-3>
    <%= "Total R$ #{@total_valor_atendidos}" %>
  </div>
  <div class=col-md-3>
    <%= "Recebido: #{@total_valor_recebido}" %>
  </div>
  <div class=col-md-3>
    <%= link_to "Lista", "agendas/index/lista?cmpt=#{params[:cmpt]}"  %>
  </div>

</div>

<% data_aux = '01-01-2000'.to_date %>
<div class="row g-2">
  <% @agendas.each do |agenda| %>
    <% unless data_aux == agenda.data_hora.to_date %>
      <% unless data_aux == '01-01-2000'.to_date %>
        </div></div></div></div>
      <% end %>
      <div class="col-md-3">
        <div class="card mb-1 shadow">
          <div class="card-body">
            <% if agenda.data_hora.wday == 1 %>
              <div class="card-title badge bg-secondary">
            <% end %>
            <% if agenda.data_hora.wday == 2  %>
              <div class="card-title badge bg-dark">
            <% end %>
            <% if agenda.data_hora.wday == 3 %> 
              <div class="card-title badge bg-info">
            <% end %>
            <% if agenda.data_hora.wday == 4 %> 
              <div class="card-title badge bg-success" style="--bs-bg-opacity: .7;">
            <% end %>
            <% if agenda.data_hora.wday == 5 %> 
              <div class="card-title badge bg-success"> 
            <% end %>
            <% if agenda.data_hora.wday == 6 %> 
              <div class="card-title badge bg-warning" style="--bs-bg-opacity: .9;">
            <% end %>
            <% if agenda.data_hora.wday == 0 %> 
              <div class="card-title badge bg-danger">
            <% end %>
              <b><%= agenda.data_hora.strftime('%d/%m/%y') %></b>
              <small><%= localize(agenda.data_hora.to_date, format: "%A") %></small>
            </div>
            <div class="card-text">
            <% data_aux = agenda.data_hora.to_date %>
    <% end %>
              <div row <%=raw 'class="text-decoration-line-through"' if agenda.cancelado %> >
                <small class="bi-alarm"><%= link_to " #{agenda.data_hora.hour}:#{agenda.data_hora.min}", agenda_path(agenda) %></small> 
                <small><%= agenda.paciente.nome_chamado %></small>
                <span class="text-success"> <%= agenda.convenio.nome %></span>
                <% if agenda.agendado %>
                  <span class="badge bg-danger">Agendado</span> 
                <% end %>
                <small><%= agenda.obs%></small>
              </div>
  <% end %>

  </div></div></div></div>

</div>

<div class="row">
  <div class="col">
    <%= link_to "Novo", new_agenda_path, class: "btn btn-success" %>
  </div>
</div>

