<p style="color: green"><%= notice %></p>

<h1>Agendas</h1>

<div class="row">
  <div class="col">
    <%= link_to "Novo", new_agenda_path, class: "btn btn-primary" %>
  </div>
  <div class="col">
      <%= form_with url: agendas_path, method: :get do |f| %>
      <%= f.text_field :cmpt, value: params[:cmpt], class: "form-control form-control-sm", placeholder: "Competência aaaamm, informe 0 para listar todas" %>
    <% end %>
  </div>
</div>


<div id="agendas">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Data/hora</th>
        <th scope="col"><%= "#{@total_atendimentos} Pacientes" %></th>
        <th scope="col"><%= "Total R$ #{@total_valor_atendimentos}" %></th>
        <th scope="col"><%= "Recebido: #{@total_valor_recebido}" %></th>
        <th scope="col">Obs</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @agendas.each do |agenda| %>
        <% if agenda.data_hora.wday == 1 %>
          <tr class="table-primary">
        <% elsif agenda.data_hora.wday == 2 %>
          <tr class="table-secondary">
        <% elsif agenda.data_hora.wday == 3 %>
          <tr class="table-success">
        <% elsif agenda.data_hora.wday == 4 %>
          <tr class="table-danger">
        <% elsif agenda.data_hora.wday == 5 %>
          <tr class="table-warning">
        <% elsif agenda.data_hora.wday == 6 %>
          <tr class="table-info">
        <% elsif agenda.data_hora.wday == 0 %>
          <tr class="table-light">
        <% end %>
        <td>
          <% if params[:cmpt].present? %>
            <b><%= link_to localize(agenda.data_hora, format: "%d/%b"), agenda %> </b>
          <% else %>
            <b><%= link_to localize(agenda.data_hora.to_date, format: :default), agenda %></b>
          <% end %>
          <span class="bi-alarm"><%= " #{agenda.data_hora.hour}:#{agenda.data_hora.min}" %></span>
          <small><%= localize(agenda.data_hora.to_date, format: "%a") %></small>
        </td>
        <td><%= link_to agenda.paciente.nome, paciente_url(agenda.paciente_id) %>
          <% if agenda.agendado %>
            <span class="badge bg-danger">Agendado</span> 
          <% end %>
        </td>
        <td><%= agenda.valor_atendimento %>
          <span class="badge bg-secondary"><%= agenda.convenio.nome %></span> 
        </td>
        <td><span class="badge bg-success"><%= "#{agenda.valor_recebido} em #{agenda.recurso.nome}" unless agenda.recurso_id.nil? %></span></td>
        <td><small><%= agenda.obs%></small></td>
  
        <td>  
          <%= link_to "Editar", edit_agenda_path(agenda), class: "btn btn-primary btn-sm" %> 
        </td>
        </tr>
 
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Novo", new_agenda_path, class: "btn btn-primary" %>
  </div>
</div>
